.centrar{
    text-align: center;
    justify-content: center;
    padding-top: 10%
}

.input{
    width: 50%;
}
.label{
    width: 30%;
    text-transform: uppercase;
    margin: 10px;
}
.boton{
    margin-top: 10px;
    width: 10em;
    
}
.boton:hover{
    background-color: gray;
}
