.encabezado{
    margin-bottom:10px;
    
    background-color: rgb(161, 161, 161);
    
}
html{
    width: 100%;
    height: 100%;
}
.titulo{
    width: 100%;
    text-align: center;
    font-family: arial;
    font-size: 1.5em;
    font-weight: bold;
}
.seccion{
    margin:.5em 0em;
    padding:10px;
    width: 100%;
    border-width:10px;
    border-color:black;
    border-style: solid;
    display: inline;
}
.elementos{
    display: inline-block;
    float: left;
}
.designer{
    width: 20%;
}
.tabla{
    overflow-x: auto;
    display: block;

}

.status{
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    text-align: center;

}

.labelstatus{
    width: 100%;
    margin: 0px auto;
}

.textarea{
    width:100%;
    text-align: left;
    height:200px
}
.statusitem{
    display:inline-block;
    text-align: center;
    width: 10em;
    margin:0px auto;
    padding: 0%;
    border-width: 5px;
    border-style:solid;
}

.boton:hover{
    background-color: gray;
}

.guardar{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.btndelete{
    font-weight: bold;
    float: left;
    width: 100%;
    text-align: center;
    background-color: red;
}

.btnmodify{
    font-weight: bold;
    float: left;
    width: 100%;
    text-align: center;
    background-color: green;
}

.impselect{
    width: 100%;
}

.impinput{
    width: 100%;
}

select{
    width: 50%;
    float: right;
    margin: .5em 0em;
}
textarea{
    width: 50%;
    float: right;
    margin: .5em 0em;
}
input{
    width: 50%;
    float: right;
    margin: .5em 0em;
}
label{
    margin:.5em .2em .5em 0em;
}
body{
    font-size: 100%;
}