/* contiene los estilos css de la las paginas web */


label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width:30%;
    font-weight: bold;
}
.imagencheck{
    background-image: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.navbar-light .navbar-nav .nav-link {
    color: orange;
    }
    /*  Este es para el elemento activo lo puedes omitir si asi deseas */
    .navbar-light .navbar-nav .active>.nav-link  {
     color: red;
    }
    .resolver{
        float:left;
    }
    .navbar{
        background-color: red;
        }
        .navbar-custom {
            color: #FFFFFF;
            background-color: #CC3333;
        }
summary{
    font-size: 15;
    margin:0px;
    
    display: block;
}
details{
    clear: right;
}
input{
    width: 50%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1;
}
.estilo1{
    font-size: 100%;
   
    background:#F7819F;
    width: 60%;
    border:1px;
    border-radius: 10px;
    text-align: center;
}
select{
    border-radius: 10px;
}
.agregar{
    align-content: center;
    float:none;
    text-align: center;
    border:1px;
    background:#F5A9D0;
    width:50%;   
    border-radius: 15px;
}
.ordenar{
    border-radius: 10px;
    font-family: "Times New Roman", Times, serif;
}
img{
    width: 50px;
}
#radio {
    white-space: normal;
  }
  
.check {
width:20px;
height:20px;
float:left;
border-radius: 15px;
border-style: solid;
}

.numeroinput{
    font-size: 15;
    width: 8%;
    background:rgba(136, 241, 104, 0.877);
    border:1px;
    border-radius: 15px;
    text-align: center;
}
.textoordenar{
    font-size: 20;
}
.fecha{
    font-size:100%;
    background:palevioletred;
    border:1px;  
    border-radius: 15px;
    text-align: center;
    width: 16%;
}
.estilo2{
    font-size: 15px;
    background:#F5A9D0;
    border:1px;
    width: 85%;
    border-radius: 15px;
    text-align: center;
    position:relative;
    
    white-space: normal;
    border-color: black;
    border-style: solid;
   
}
#eliminar{
    border:1px;
    height:5%;
    width:10%;   
    border-radius: 15px;
}
.cselect{
    width:50%;
}
.centrado{
    text-align: center;
    align-content: center,
}
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
